.thumbnail
  %a{href: ""}
    = image_tag("sample.png")
    .caption
      %h3 Salvation Army on iPad App Wireframe
      .proto-meta
        .proto-date
          Apr 26
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe