.col-sm-4.col-md-3.proto-content
  .thumbnail.btn.btn-tag
    %h2
      = link_to "#{tag.name}", tag_path(tag.id)
    = link_to tag_path(tag.id) do
      .tag-meta
        %i #{tag.taggings.count} Projects
